clarity:
    report_header_info:
        Project:
            'Sequencing platform':
            'Order received':

    general_stats:
        Sample:
            'Customer Name':
                scale: False
            'Customer Conc':
                description: 'Customer Concentration (&micro;g/&micro;l)'


    clarity_module:
        Sample:
            'Customer Name':
            'Customer Conc':

        'Aggregate QC (Library Validation) 4.0':
            inputs:
                'Concentration':
                'Size (bp)':
                'Volume (ul)':

        'Bcl Conversion & Demultiplexing (Illumina SBS) 4.0':
            outputs:
                '# Reads':
                    'namespace': 'Demultiplexing'
                    'title': 'M Reads'
                    'description': 'Million Reads Sequenced'
                    'format': '{:.2f}'
                    'multiply_by': 0.000001
                '% Bases >=Q30':
                    'namespace': 'Demultiplexing'
                    'scale': 'RdYlGn'

